name: "Terraform Apply"

concurrency:
  group: terraform-apply-${{ github.ref_name }}
  cancel-in-progress: false

on:
  push:
    branches:
      - main

env:
  AWS_ROLE_ARN: "arn:aws:iam::042672036044:role/github-actions-sts-assumption-role-aws"
  AWS_REGION: "us-east-1"

# Set required permissions of the GITHUB_TOKEN
permissions:
  contents: read # Required for actions/checkout
  id-token: write # Required for requesting the JWT

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check
        continue-on-error: true

      - name: Terraform Init
        id: init
        run: terraform init -input=false

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Check for failures
        if: steps.fmt.outcome == 'failure'
        run: |
          echo "One or more Terraform steps failed. Workflow cannot complete."
          exit 1

      - name: Terraform Apply
        id: apply
        run: terraform apply -auto-approve
