name: "Terraform Plan"

concurrency:
  group: terraform-plan-${{ github.ref_name }}
  cancel-in-progress: false

on:
  pull_request:

env:
  AWS_ROLE_ARN: "arn:aws:iam::042672036044:role/github-actions-sts-assumption-role-aws"
  AWS_REGION: "us-east-1"

# Set required permissions of the GITHUB_TOKEN
permissions:
  contents: read # Required for actions/checkout
  pull-requests: write # Required for bot comments on PRs
  id-token: write # Required for requesting the JWT
  actions: read # Required to list jobs for workflow runs

jobs:
  terraform:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform init -input=false

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
